html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

nav {
  /* overflow: hidden; what is it? */
  background-color: #dedede;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;

  gap: 20px; /* how to make it mobile friendly? */
  /* grid-template-columns: repeat(1, 100px); */

  justify-content: center;
  justify-items: center;
}

li.fullwidth {
  grid-column: 1 / 2;
}

a {
  position: relative;
  text-decoration: none;
}

@media (min-width: 600px){ /* what is this for? it is for desktops (responsive design), changes only properties mentioned*/
  nav {
    padding: 5px;
    /* padding-right: 40px; fix this using grid */
  }
  nav ul {
    grid-template-columns: 1fr repeat(2, fit-content(100px)); /* what is the size specification of fit-content for? */
    justify-items: end;
  }
  nav ul li {
    margin: 0;
    padding: 0;
  }
  nav ul li.fullwidth {
    grid-column: 1 / 2;
    justify-self: start;
  }
}

/* a::before {
  content: "";
  position: absolute;            
  height: 3px;
  right: 0px;
  bottom: -3px;
  left: 0px;
  background-color: $linkPink;
} */

/* 
.navlink {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: fit-content;
  border: 1px solid black;
} */

.text_filled, .text_outline {
  width: 20vw;
  min-width: 100px;
  height: auto;
  /* min-height: min-content; what to put as minimum height? */
  border: 1px solid black;
}

/* Image filling effect */
a .text_filled {
    display: none;
}
a:hover .text_outline,
a:active .text_outline {
  display: none;
}
a:hover .text_filled,
a:active .text_filled {
  display: inline-block;
}